{% extends "base_project.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block page-header %}
<div class="page-header">
    <h3 class="page-title"> New Re-examination </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'hospital_record_list' %}">Hospital Record</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Re-examination</li>
        </ol>
    </nav>
</div>
{% endblock page-header %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" method="POST">
                {% csrf_token %}
                <!-- {{r_form|crispy}} -->
                <!-- <div id="div_id_doctor" class="form-group row"> 
                    <label for="id_doctor" class=" requiredField col-sm-3 col-form-label">Doctor<span class="asteriskField">*</span> </label>
                    <div class="col-sm-9"> 
                        <input type="text" name="doctor" value="{{user.id}}" class="numberinput form-control" id="id_doctor" placeholder="" > </div>
                </div> -->
                <div id="div_id_result" class="form-group row"> 
                    <label for="id_result" class=" requiredField col-sm-3 col-form-label">Result<span class="asteriskField">*</span> </label>
                    <div class="col-sm-9"> 
                        <input type="text" name="result" value="" class="numberinput form-control" required id="id_result" placeholder=""> </div>
                </div>
                <div id="div_id_date" class="form-group row"> 
                    <label for="id_date" class=" requiredField col-sm-3 col-form-label">Date<span class="asteriskField">*</span> </label>
                    <div class="col-sm-9"> 
                        <input type="date" name="date" value="" class="datetimeinput form-control" required id="id_date" placeholder=""> </div>
                </div>
                <div id="div_id_appoinment_date" class="form-group row"> 
                    <label for="id_appointment_date" class=" requiredField col-sm-3 col-form-label">Appointment_date<span class="asteriskField">*</span> </label>
                    <div class="col-sm-9"> 
                        <input type="date" name="appointment_date" value="" class="datetimeinput form-control" id="id_appointment_date" placeholder=""> </div>
                </div>

                <div class="row" style="justify-content: center">
                    <button type="submit" class="btn btn-inverse-success btn-fw col-md-4" style="margin: 0px 20px;">Save</button>
                    <a href="{% url 're_examination_list' hospital_record_id=hospital_record_id %}" class="btn btn-inverse-secondary btn-fw col-md-4" style="margin: 0px 20px;">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}