{% extends "base_project.html" %}
{% load crispy_forms_tags %}
{% block page-header %}
<div class="page-header">
    <h3 class="page-title"> Update Re-examination </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'hospital_record_list' %}">Hospital Record</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update Re-examination</li>
        </ol>
    </nav>
</div>
{% endblock page-header %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form method="POST" action="{% url 'medical_detail_update' hospital_record_id=hospital_record_id id=re_examination_id medical_detail_id=medical_detail.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- {{md_form|crispy}} -->
                <!-- <div id="div_id_medical" class="form-group row"> 
                    <label for="id_medical" class=" requiredField col-sm-3 col-form-label">Medical<span class="asteriskField">*</span> </label>
                    <div class="col-sm-9"> 
                        <input type="text" name="medical" value="{{medical_detail.medical}}" class="numberinput form-control" required id="id_medical" placeholder=""> </div>
                </div> -->
                <div id="div_id_quantity" class="form-group row"> 
                    <label for="id_quantity" class=" requiredField col-sm-3 col-form-label">Quantity<span class="asteriskField">*</span> </label>
                    <div class="col-sm-9"> 
                        <input type="number" name="quantity" value="{{medical_detail.quantity}}" class="numberinput form-control" required id="id_quantity" placeholder=""> </div>
                </div>
                <div id="div_id_time" class="form-group row"> 
                    <label for="id_time" class=" requiredField col-sm-3 col-form-label">Time<span class="asteriskField">*</span> </label>
                    <div class="col-sm-9"> 
                        <input type="number" name="time" value="{{medical_detail.time}}" class="numberinput form-control" required id="id_time" placeholder=""> </div>
                </div>

                <div class="row" style="justify-content: center">
                    <button type="submit" class="btn btn-inverse-warning btn-fw col-md-4"
                        style="margin: 0px 20px;">Update</button>
                    <a href="{% url 're_examination_list' hospital_record_id=hospital_record_id %}" class="btn btn-inverse-secondary btn-fw col-md-4"
                        style="margin: 0px 20px;">Cancel</a>
                </div>
            </form>
        </div>

    </div>
</div>
</div>
{% endblock content %}