{% extends "base_project.html" %}
{% block page-header %}
<div class="page-header">
    <h3 class="page-title"> Update Hospital Record </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'hospital_record_list' %}">Hospital Record</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update Hospital Record</li>
        </ol>
    </nav>
</div>
{% endblock page-header %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form action="{% url 'hospital_record_update' id=hospital_record.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="div_id_hospital" class="form-group row"> 
                    <label for="id_hospital" class=" requiredField col-sm-3 col-form-label">Hospital<span class="asteriskField">*</span> </label>
                    <div class="col-sm-9"> 
                        <input type="text" value="{{hospital_record.hospital}}" name="hospital" value="" class="numberinput form-control" required id="id_hospital" placeholder=""> </div>
                </div>
                <div id="div_id_disease" class="form-group row"> 
                    <label for="id_disease" class=" requiredField col-sm-3 col-form-label">Disease<span class="asteriskField">*</span> </label>
                    <div class="col-sm-9"> 
                        <input type="text" name="disease" value="{{hospital_record.disease}}" class="numberinput form-control" required id="id_disease" placeholder=""> </div>
                </div>
                <div id="div_id_start_time" class="form-group row"> 
                    <label for="id_start_time" class=" requiredField col-sm-3 col-form-label">Start Time<span class="asteriskField">*</span> </label>
                    <div class="col-sm-9"> 
                        <input type="date" value="{{hospital_record.start_time}}" name="start_time" value="{{hospital_record.start_time}}" class="datetimeinput form-control" required id="id_start_time" placeholder=""> </div>
                </div>
                <div id="div_id_status" class="form-group row"> 
                    <label for="id_status" class=" requiredField col-sm-3 col-form-label">Status<span class="asteriskField">*</span> </label> 
                    <div class="col-sm-9"> 
                        <select name="status" class="select form-control" required id="id_status"> 
                            <option value="In process">In process</option> 
                            <option value="Done">Done</option>
                        </select> 
                    </div> 
                </div>
                <div style="display: none;" id="div_id_user" class="form-group"> 
                    <label for="id_user" class=" requiredField">User<span class="asteriskField">*</span> </label> 
                    <div class=""> 
                        <select name="user" class="select form-control" required id="id_user" value={{user}}> 
                            <option value="{{user.id}}" selected>{{user}}</option> 
                        </select>
                    </div>
                </div>
                <div class="row" style="justify-content: center">
                    <button type="submit" class="btn btn-inverse-warning btn-fw col-md-4"
                        style="margin: 0px 20px;">Update</button>
                    <a href="{% url 'hospital_record_list' %}" class="btn btn-inverse-secondary btn-fw col-md-4"
                        style="margin: 0px 20px;">Cancel</a>
                    <!-- <button class="btn btn-inverse-secondary btn-fw col-md-4" style="margin: 0px 20px;">Cancel</button> -->
                </div>

                <!-- <button type="submit" class="btn btn-inverse-warning btn-fw col-md-12">Update</button> -->
            </form>
        </div>

    </div>
</div>
</div>
{% endblock content %}