{% extends "base_project.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block search_form %}
<div class="search-field d-none d-md-block">
  <form class="d-flex align-items-center h-100" action="{% url 'physical_filter' %}" >
    {% csrf_token %}
    <div class="input-group" id="height">
      <div class="input-group-prepend bg-transparent">
        <i class="input-group-text border-0 mdi mdi-magnify"></i>
      </div>
      <input type="text" class="form-control bg-transparent border-0" id="height" name="height" placeholder="Search projects">
    </div>
  </form>
</div>
{% endblock search_form %}
{% block page-header %}
<div class="page-header">
    <h3 class="page-title"> Physical List </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="{% url 'physical_list' %}">Physical</a></li>
            <li class="breadcrumb-item " aria-current="page">Physical List</li>
        </ol>
    </nav>
</div>
{% endblock page-header %}
{% block content %}
<!-- {% if messages %}
      {% for message in messages  %}
        <div style="color: blue;" class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
      {% endfor %}
    {% endif %} -->
    <a href="{% url 'create_physical' %}" class="btn btn-inverse-success btn-fw {% if not 'add_physicalmodel' in permissions %} d-none {% endif %}" style="margin-right: 20px; float: right; margin-bottom: 10px;">New physical</a>
    <!-- <button type="button" class="btn btn-inverse-success btn-fw">New physical</button> -->
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped ">
          <thead>
            <tr>
              <th> Date </th>
              <th> Height (cm) </th>
              <th> Weight (kg) </th>
            </tr>
          </thead>
          <tbody>
                {% for phy in physical  %}
                <tr>
                    <td> {{ phy.date }} </td>
                    <td> {{ phy.height }} </td>
                    <td>   {{ phy.weight }} </td>
                    <td class="{% if not 'change_physicalmodel' in permissions %} d-none {% endif %}">
                      <a class="btn btn-inverse-warning btn-fw" href="{% url 'physical_detail' id=phy.id %}">Update</a>
                    </td>
                    <td class="{% if not 'delete_physicalmodel' in permissions %} d-none {% endif %}">
                      <button type="button" class="btn btn-inverse-danger btn-fw" data-toggle="modal" data-target="#exampleModalCenter">
                        Delete
                      </button>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure delete the physical created on {{phy.date}} ?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-inverse-secondary btn-fw col-md-4" data-dismiss="modal">Cancle</button>
                              <a class="btn btn-inverse-danger btn-fw " href="{% url 'physical_delete' id=phy.id %}" >Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <!-- <td> <a class="btn btn-inverse-danger btn-fw confirmation" href="{% url 'physical_delete' id=phy.id %}" onclick="return confirm('Are you sure?')">Delete</a></td> -->
                </tr>
                {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock content %}